body{
  background-color: powderblue;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: brown;
  border-width: 5px;
  width: 8%;
}
h1{
  color: #66BF;
}
h2{color: brown;
}
h3{
  color: green;
}
h4{
  color: silver;
}
h5{
  color: white;
}
.circular {

  border-radius: 50%;
}
.prasanna{
  background-color: silver;
}
img:hover{ background-color: pink;}
